@import "tailwindcss";

@theme {
  --color-primary-color: #fffaf7;
  --color-secondary-color: #ff6d38;
  --color-accent-color: #7a78ff;
  --color-heading-color: #333;
  --color-light-color: #f9f9f9;
  --color-dark-color: #333;

  --color-btn-primary-bg: #333;
  --color-btn-secondary-bg: #e74c3c;
  --color-btn-hover-secondary-bg: #d43d2d;
  --color-btn-accent-bg: #00a652;
  --color-btn-primary-hover-bg: #8584ff;
  --color-btn-secondary-hover-bg: #333;
  --color-cta-bg: #464646;
  --color-cta-button-bg: #333333;
  --color-cta-button-hover-bg: #1a1a1a;
  --color-btn-tertiary-bg: #04a552;
  --color-btn-tertiary-hover-bg: #0a994f;
  --color-filter-text: #8482ff;
  --color-filter-button-bg: #4d4c4b;

  --font-family-heading: "Amatic SC", sans-serif;
  --border-radius: 8px;

  --shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 3px 10px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 5px 15px rgba(0, 0, 0, 0.2);

  --section-margin: 2rem 0;
  --container-width: 90%;
}
